/* div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
    position: absolute;
    top: 50px;
    left: 50px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; 
    /* transition: all 2s ease-in-out 1s; 
    /* transform: rotatex(45deg); 
    /* transition: all 2s ease-in;
    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation: colorAnimate 2s ease-in 1s infinite alternate;
}

/* @keyframes colorAnimate {
    from {
        left: 0px;
        background-color: red;
    }
    to {left: 200px;
        background-color: blue;
    }
} 

@keyframes colorAnimate {
    0% {
        left: 0px;
        background-color: red;
    }
    50% {
        left: 100px;
        background-color: green;
    }
    100% {left: 200px;
        background-color: blue;
    }
} 

/* div:hover {
    /* background-color: blue;
    color: white;
    font-size: 20px; 
    transform: scale(0.5);
    /* transform: rotate(180deg);
    /* Transform: skew(90deg);

} */
/* Making of a loader:- */
.loader {
    height: 100px;
    width: 100px;
    border: 10px solid #E2ECF2;
    border-radius: 50%;
    border-top: 10px solid #393E41;
    animation: spin 2s ease-in 0s infinite normal;  
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
