/* 
Firstly we will remove the default margin from the body element. It means margin=0.
*/

* {
  margin: 0px;
  font-family: Arial;
  border: border-box; /* This will make sure that the padding and border size are included in the total width and height of the elements. 
                         and also it is a very good practice and also professional programers always prefer this */
}

/* *:hover {
    border: 2px solid red;
    border-radius: 5%;
} */

.Navbar {
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Header-nav-logo {
    height: 50px;
    width: 100px;
}

.Header-logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover { 
    border: 1px solid white;
    border-radius: 5%;
}

/* Box: 2: Nav Address */
.nav-address {
    width: 90px;
    height: 40px;
    padding-top: 5px;
}
.add-line-1 {
    color: #CCCCCC;
    font-size: 0.85rem; /* rem is a unit of font size which is relative to the root element.
                        we can also set the font-size in pixels but we are using rem here because
                        for making advance responsive website. It is also mandatory while making 
                        any websites to make it responsive and it means it can adjust according to the
                        size of screen*/
    margin-left: 21px;
}

.add-line-2 {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
    display: flex;
    align-items: center;
}

/* Box: 3: Search-Bar */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.select {
    background-color: #f3f3f3;
    color: #0f1111;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* Box: 4: Tools*/
/* Box: 4: (1.) */
.tools {
    width: 400px;
    height: 54px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-between;
}

.language-and-region {
    width: 80px;
    height: 50px;
    padding-left: 10px;
}

.language-line-1 {
    color: #0f1111;
    margin-left: 40%;
    margin-right: 40%;
}

i{
    font-size: 1rem;
    margin-right: 2px;
}

.language {
    display: flex;
    align-items: center;
    background-color: #0f1111;
    color: #ffffff;
    font-size: 1rem;
}

/* Box: 4:(2.) Sign-in-And-Accounts-and-lists */
.Sign-in-And-Accounts-and-lists {
    width: 135px;
    height: 42px;
    padding-top: 11px;
    padding-left: 8px;
    padding-right: 5px;
}

.Sign-in {
    color: gainsboro;
    font-size: 0.7rem;
}

.Accounts-and-lists {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9rem;
}

/* Box: 4:(3.) Returns-&-Orders */
.Returns-and-Orders {
    width: 80px;
    height: 38px;
    padding-top: 11px;
    padding-left: 10px;
}

.Returns-line-1 {
    outline-color: gainsboro;
    font-size: 0.7rem;
}

.Orders-line-2 {
    font-weight: 700;
    font-size: 0.9rem;
}

/* Box: 4:(4.)Cart */

.Cart {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}
.Cart i{
    font-size: 30px;
    padding-top: 9px;
}

.Cart-text {
    font-weight: 700;
    padding-top: 20px;
    font-size: 1.20rem;
}
/* Panel */
/* Box: 1 */
.Panel {
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: #ffffff;
    padding-left: 12px;
}

/* Box 1:(a) */
.Panel-All {
    width: 42px;
    height: 22px;
    padding: 8px 9px;
    display: flex;
    align-items: center;
}

/* Box 1:(b) */
.Panel-All i{
    font-size: 20px;
}

/* Box 2 */
.All-menu {
    font-size: 0.9rem;
    padding-left: 3px;
    font-weight: 700
}

/* Box 2: Parent Div*/
.Menu-options {
    width: 100%;
    font-size: 0.88rem;
    display: flex;
    align-items: center;
}

/* Box 2:(a) */
.Today-deals {
    margin: 7px 0px 6px 0px;
    padding: 5px 9px;
}

/* Box 2:(b) */
.Customer-service {
    margin: 7px 0px 6px 0px;
    padding: 5px 9px;
}

/* Box 2:(c) */
.Registry {
    margin: 7px 0px 6px 0px;
    padding: 5px 9px;
}

/* Box 2:(d) */
.Gift-cards {
    margin: 7px 0px 6px 0px;
    padding: 5px 9px;
}

/* Box 2:(e) */
.Sell {
    margin: 7px 0px 6px 0px;
    padding: 5px 9px;
}

/* Hero Section */
/* Hero Section Main Backround Image:- */
.Hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 325px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.Message {
    background-color: #f5f6f6;
    width: 93.5%;
    height: 40px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.Message-part-1 {
    color: #0F1111;
}

.Message-part-2 {
    color: #007185;
    padding-left: 3px;
    cursor: grab;
}

/* Shop Section:- */
.Shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin-bottom: 40px;
}

.Shop-boxes {
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Shop-box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Shop-box-content {
    margin-left: 1rem;
    margin-right:1rem;
}

.Shop-box-content p {
    color: #007185;
}

/* Start & Signin */
.Start-and-Signin-section {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 0px 8px 0px;
}

.Start-and-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendations {
    font-size: 0.9rem;
}

.For-new-customer {
    display:flex;
}

.Start-and-Signin-section button {
    width: 230px;
    height: 28px;
    color: #000000;
    background-color: #ffd700;
    cursor: pointer;
    border: 1px solid #daa520;
    border-radius: 1cqmin;
    font-weight: 700;
    font-size: 0.8rem;
    margin: 4px 0px;
}

.For-new-customer {
    font-size: 0.74rem;
}

.For-new-customer-part-1 {
    padding-right: 2px;
}

.For-new-customer-part-2 {
    color: #007185;
}

/* Nav footer panel 1 */
Nav-footer-back-to-top 
.Footer-section {
    height: 1010px;
}

.Nav-footer-panel-1 {
    height: 20px;
    color: #ffffff;
    margin-top: 20px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.78rem;
    padding: 15px 0px;
}

.Nav-footer-panel-1:hover {
    background-color: #485063;
    color: #ffffff;
}

/* Style for footer sections */
.Footer-panel-2 {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    color: #ffffff;
    font-size: 0.85rem;
    padding-top: 40px;
}

/* Style for section headings */
.footer-section h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

/* Style for list items */
.footer-section ul {
    list-style: none;
}

/* Style for links within list items */
.footer-section ul li a {
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    text-decoration: none;
    padding-top: 10px;
}

/* Hover effect for links */
.footer-section ul li a:hover {
    text-decoration: underline;
}

.horizontal-line {
    height: 0.85px; /* Set the height of the line */
    background-color: #3b444b; /* Set the color of the line */
  }

/* ------------------------------------------------------------------------------------------------- */
.footer-language-currency-region {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #232f3e;
    color: #cccccc;
}

.footer-language-and-currency-region-inner-div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
}

.Footer-nav-logo {
    height: 50px;
    width: 100px;
}

.Footer-logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}
  
.language-currency-region-item {
    display: flex;
    align-items: center;
}
  
.language-currency-region-item span {
    border: 1px solid #dddddd;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #dddddd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Footer Panel 3:- */
.footer-links {
    width: 100%;
    height: 450px;
    background-color: #131A22;
    color: #DDDCD7;
    font-size: 0.78rem;
    padding: 30px 115px 30px 130px;
}
  
.footer-links td {
    padding: 0 10px;
    vertical-align: top;
}
  
.footer-links span {
    color: #DDDCD7;
}
  
.main-title {
    font-weight: 700;
    margin-top: 15px;
}
  
.footer-bottom {
    background-color: #131A22;
    color: #ffffff;
    padding: 20px;
    font-size: 0.8rem;
}
  
.footer-links-legal {
    width: 630px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 315px;
    padding-right: 270px;
    padding-bottom: 3px;
    margin-left: 5px;
}
  
.footer-links-legal a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 5px;
}
  
.footer-links-legal a:last-child {
    margin-right: 0;
}
  
.footer-copyright {
    color: #ffffff;
    display: flex;
    justify-content: center;
}